* {
    box-sizing: border-box;
    text-decoration: none;
  }

  body{
    padding: 0;
    margin: 0;
    background: #f2f6f7;
  }

  .logo {
    width: 170px;
    height: 140px;
    border-radius: 50px;
    aspect-ratio: 1;
    object-fit: cover;
    margin-top: -1.5rem;
    
  }
  /* -------------------- */
  /*     BASIC RESET      */
  /* -------------------- */

  /* https://piccalil.li/blog/a-modern-css-reset/ */
  :root {
    /* COLORS */
    --clr-dark: 230 35% 7%;
    --clr-accent: 231 77% 90%;
    --clr-white: 0 0% 100%;
    --gap: 3rem;
  
    /* FONT SIZES */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
  
    /* FONT-FAMILIES */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
  }
  
  /* Global Reset */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }
  
  /* Margin Reset */
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  picture {
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-weight: 400;
  }
  
  body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-accent));
    min-height: 100vh;
    line-height: 1.6;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow: hidden;
    background: url(./assesst/back\ ground.jpg) center center/cover;
    backdrop-filter: br;
  }
  
  img,
  picture {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
  input,
  button,
  textarea,
  select {
    font-family: inherit;
  }
  
  nav {
    justify-content: space-between;
    padding: 2rem 0rem 2rem 2rem;
    
  }   

    


    

  .flex {
    display: flex;
   
  }
  .list {
    list-style: none;
    align-items: center;
    justify-content: left; 
    gap: 2.5rem;
    backdrop-filter: blur(6px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;


   }

  .list li{
    font-size:20px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 3rem;
    justify-content: space-evenly;
    width: 150px;

    
  }
 
  .list > li > a > span {
  font-weight: bold;
  margin-right: 0.9rem;
  }

  .hero_container  {
    display: flex;
    justify-content: space-evenly;
  }

  .hero_container p {
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 75rem;
    margin-top: 6rem;
    margin-left: 4rem;
    margin-bottom: -5rem;
    padding-right: 12rem;
    color: black;
  } 
  .hero_container img {
    width: 38rem;
    margin-top: 3rem; 
    
         
  }
  .hero_container h1 {
    font-size: 8rem;
    margin-left: 4rem;
    color: white;
    margin-top: 5rem;
    font-family: 'Bellefair', serif;
  }

  .hero_container h2 {
    font-size: 15rem;
    font-stretch: expanded 12rem;
    box-shadow: 20rem red;
    margin-top: 1.8rem;
    margin-bottom: -6rem;
    margin-left: 1rem;
    color: yellow;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellow;
    font-family: 'Bellefair', serif;
  }

  ul.list.flex {
    width: 75rem;
  }

  .heroTitle  h4{
    width: 100%;
   text-align: right;
   margin-top: -28px;
   margin-bottom: -14rem;
   font-size: 2.5rem;
   color: white;
   font-family: 'Bellefair', serif;
  }
  
  nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    }
 
 nav ul li a:hover {
    color :rgba(244, 44, 44, 0.794);
    transition: .3s;
 }
 .hero_image img {
    transform: scale(1.5);
    margin-top: 13rem;
 }
  